@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-gray-200 p-4 rounded-xl text-xl font-semibold 
           hover:bg-gray-300 transition;
  }
}
